.titlee{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;
}
.motto{
    font-style: italic;
}
.img3{
    width: 80%;
    padding: auto;
}
.img4{
    max-width: 100%;
    height: auto;
    width: 80%;
}
body{
    background-color: antiquewhite;
}
